.outer_Container_Reg_Form {
    width:40%;
    margin:auto;
    margin-top:2rem;
}

.reg_And_Sub_Container{
    display:flex;
    margin-left: 10vw;
}

.sub_Side_Popout{
    overflow-y: hidden;
    margin-top:42vh;
    min-width: 15rem;
    max-height: 22rem;
    border: 1px lightgray solid;
    z-index: -1;
}

.inner_Form_Box {
    background-color: rgb(226, 226, 226);
    margin: 1rem;
    padding:1rem;
}

.registration_Form {
    z-index: 2;
    min-width: 20rem;
    border: 1px lightgray solid;
    justify-content: center;
}