.top_Space {
    display: flex;
    justify-content: center;
    padding-bottom: 4vh;
}

.user_Image {
    max-height: 5rem;
    margin-right: 10vw;
    border-radius: 50%;
}

.logout_Button {
    position: absolute;
    right:2vw;
}

.userName {
    margin-top: 1.2rem;
    margin-right: 1rem;
    text-align: right;
}

.project_Dashboard > h4 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3rem;
    text-align: center;
}

.project_Dashboard h6 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2rem;
}

.big_Project_Window {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
}
.address {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    line-height: .5rem;
}

.project_Link_Button {
    width:100%;
    border-style:none;
    transition: 300ms;
}

.project_Link_Button:focus {   
    border-style:none;
    transform: scale(1.03);
    transition: 300ms;
}

.component_Link_Button {
    margin-left: .5rem;
    width:95%;
    border-style:none;
    transition: 300ms;
}

.component_Link_Button:focus{
    border-style:none;
    transform: scale(1.03);
    transition: 300ms;
}

.inside_Button_Container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}

.project_Card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.project_Component_Card, .project_Card, .detail_Banner, .project_Dashboard h6,
.project_Dashboard > h4, .top_Space, .project_With_Add_Button >button, .large_Detail_Banner, .detail_Banner_With_Button {
    border-bottom: 1px lightgray solid;
}

.project_Link_Button, .component_Link_Button {
    background-color: rgba(211, 211, 211, 0);
}
.project_Side_On_Large, .component_List_Container, .component_Detail_Container, 
.project_Add_New_Form, .large_Component_List_Container {
    background-color: rgba(211, 211, 211, 0.111);
}

.detail_Banner, .detail_Budget, .large_Detail_Banner, .detail_Banner_With_Button {
    background-color: rgba(211, 211, 211, 0.211);
}

.find_A_Sub_Link, .component_Link_Button:focus, .project_Link_Button:focus, 
.project_Dashboard > h4, .project_Dashboard h6, .sub_Side_Popout, .registration_Form {
    background-color: rgba(211, 211, 211, 0.411);
}

.find_A_Sub_Link, .detail_Banner, .detail_Text, .address, .userName, form, .form_input,
 .inner_Form_Box, .logout_Button, .large_Detail_Banner, .detail_Budget, .complete_Button > div, .detail_Banner_With_Button {
    font-family: 'Oswald', sans-serif;
}

.find_A_Sub_Link {
    border-radius: 5px;
    border: 1px lightgray solid;
    font-size: .9rem;
    padding: .3rem;
}
.project_Image {
    margin: 1rem;
    max-height: 5rem;
}

.project_Side_On_Large {
    width: 30%;
    height:90vh;
}

.project_Side_On_Large > h6 {
    display:flex;
    justify-content: space-between;
}

.project_Add {
    min-width:6vw;
    border-radius: 5px;
    border: 2px  rgba(211, 211, 211, 0.411) solid;
    color:  rgb(129, 126, 126);
}

.project_Cancel {
    min-width:6vw;
    border-radius: 5px;
    border: 2px  rgba(144, 104, 104, 0.39) solid;
    color:  rgb(144, 104, 104);
}

.delete_Button {
    min-width:4vw;
    border-radius: 5px;
    border: 2px  rgba(144, 104, 104, 0.39) solid;
    color:  rgb(144, 104, 104);
}

#project_Save {
    margin-right: 1rem;
    min-width:6vw;
    border-radius: 5px;
    border: 2px  rgba(98, 149, 100, 0.404) solid;
    color:  rgb(83, 114, 84);
}

#project_Save_Active {
    margin-right: 1rem;
    min-width:6vw;
    border-radius: 5px;
    border: 2px  rgba(98, 149, 100, 0.404) solid;
    color:  rgb(98, 149, 100);
    transform: scale(1.2);
    animation: pulse 2s infinite;
}

#component_Save {
    min-width:6vw;
    border-radius: 5px;
    border: 2px  rgba(98, 149, 100, 0.404) solid;
    color:  rgb(83, 114, 84);
}

#component_Save_Active {
    min-width:6vw;
    border-radius: 5px;
    border: 2px  rgba(98, 149, 100, 0.404) solid;
    color:  rgb(98, 149, 100);
    transform: scale(1.2);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(165, 79, 79, 0.7);
	}

	90% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(165, 79, 79, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.component_List_Container {
    width: 30%;
    overflow-y: hidden;
}

.component_List_Container > h6, .large_Component_Container >h6, .image_Gallery >h6, .detail_Banner_With_Button,
.add_Project_Banner, .add_Component_Banner {
    display:flex;
    justify-content: space-between;
}

.component_Detail_Container, .component_Add_New_Form {
    width: 30%;
}

/* .detail_Banner {
    padding: 1rem 0 0 1rem  ;
} */

.detail_Description {
    padding: 1rem;
    min-height: 10vh;
}

.detail_Budget {
    padding-left: 1rem;
    width: 100%;
}

.detail_Text {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
}

.project_Add_New_Form{
    width: 62.5%;
}

.projectForm {
    display:flex;
    flex-direction: column;
    margin: 0 5vw;
}

.images_Container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.component_Image {
    max-width: 13vw;
}
.detail_Banner_With_Button {
    padding: .5rem;
}

.complete_Button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width:6vw;
    border-radius: 5px;
    border: 2px  rgba(98, 149, 100, 0.404) solid;
    color:  rgb(98, 149, 100);
}

.complete_Button > div {
    font-size: .8rem;
}