.little_Project_Card {
    display:flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 2rem;
}

.large_Component_Container {
    width: 18%;
    overflow: hidden;
    padding-right:1vw;
}

.details_Container{
    width: 100%;
}


.component_Card {
    min-width: 100%;
}

.large_Detail_Container{
    width: 45%;
}

.large_Component_List_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.project_component_Button_Container {
    display:flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.search_Subs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.large_Detail_Container {
    width: 90%;
    padding-left: 1rem;
    height:75vh;
}

.flippedy_Do_Da {
    min-width: 11rem;
}
.large_Component_Description {
    height: 7rem;
    padding: 1rem;
}

.large_Component_Below_Description{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.large_Component_Detail_Card {
    min-height: 20rem;
    min-width: 13rem;
    width: 42%;
    border:lightgray 1px solid;
    margin: 1rem;
}

.Description_Banner {
    text-align: left;
}

.component_Budget {
    line-height: .5rem;
    text-align: left;
}

.component_Total {
   
    text-align: left;
}
.totals_Div{
    border-bottom: 1px lightgray solid;
    border-top: 1px lightgray solid;
    display: flex;
    justify-content: space-between;
}
#contact_Sub {
    min-width:6vw;
    border-radius: 5px;
    border: 2px  rgba(98, 149, 100, 0.404) solid;
    color:  rgb(98, 149, 100);
}

#search_Button {
    min-width:4vw;
    border-radius: 5px;
    border: 2px  rgba(144, 104, 104, 0.39) solid;
    color:  rgb(144, 104, 104);
}

#search_Button_Active {
    min-width:4vw;
    border-radius: 5px;
    border: 2px  rgba(98, 149, 100, 0.404) solid;
    color:  rgb(98, 149, 100);
}

.component_Inactive_Flip{
    border-radius: 5px;
    border: 2px  rgba(211, 211, 211, 0.411) solid;
    color:  rgb(129, 126, 126);
}
/* .component_Headline{
    display:flex;
    justify-content:space-evenly;
}

.component_Headline_Left_and_Center{
    display:flex;
    justify-content:space-between;
} */

.left_Anchor {
    position: absolute;
    left: 1rem;
}